html, body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 10px 35px;
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.menu li a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}
.menu li {
    display: block;
    width: 60px;
    float: left;
}
.menu li a:hover {
    text-decoration-line: underline;
}
.btn-primary {
    margin-top: -10px;
    border: 1px solid #4285f4;
    width: 75px;
    height: 30px;   
    color: white;
    background-color: #4683ea;
    text-align: center;
    font-weight: 700;
}
/* content block */
content {
    display: block;
    text-align: center;
    margin-top: 100px;
    padding-top: 80px;
}
input {
    height: 20px;
    padding: 10px;
    min-width: 560px;
    border: 1px solid rgba(57,57,57, 0.15);
    box-shadow: 0px 2px 3px 0px rgba(57, 57, 57, 0.10);
    margin: 20px;
}
input:hover, input:focus {
    box-shadow: 3px 4px 8px 3px rgba(57, 57, 57, 0.10);
}
.searchbtnblock {
    margin: 10px;
}
.searchbtn {
    height: 35px;
    width: 150px;
    border: none;
    font-weight: bold;
    color: #6e6c6c;
    border-radius: 5%;
}
.searchbtn:hover {
    border: 1px solid rgba(0, 0, 0, 0.15);
}