html, body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 10px 35px;
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.menu li a, footer ul li a {
    text-decoration: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}
.menu li {
    display: block;
    width: 60px;
    float: left;
}
.menu li a:hover {
    text-decoration-line: underline;
}
.btn-primary {
    margin-top: -10px;
    border: 1px solid #4285f4;
    width: 75px;
    height: 30px;   
    color: white;
    background-color: #4683ea;
    text-align: center;
    font-weight: 700;
}
/* content block */
content {
    display: block;
    text-align: center;
    margin-top: 100px;
    padding-top: 80px;
}
input {
    height: 20px;
    padding: 10px;
    min-width: 560px;
    border: 1px solid rgba(57,57,57, 0.15);
    box-shadow: 
                0px 1px 1px 0px rgba(57, 57, 57, 0.25);
    margin: 20px;
}
input:hover, input:focus {
    box-shadow: 3px 4px 8px 3px rgba(57, 57, 57, 0.10),
                0px 2px 3px 0px rgba(57, 57, 57, 0.10);
}
.searchbtnblock {
    margin: 10px;
}
.searchbtn {
    font-size: 13px;
    height: 35px;
    line-height: 26px;
    width: 150px;
    border: none;
    font-weight: bold;
    color: #6e6c6c;
    background-color: #efeff2;
    border-radius: 5%;
    margin: 5px;
}
.searchbtn:hover {
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: black;
    box-shadow: 1px 1px 1px 1px rgba(227, 227, 227, 0.25);
}
.lang {
    font-size: 14px;
}
/* footer */
footer {
    background-color: #e3e3e5;
    position: fixed;
    width: 100%;
    left: 0;
    padding: 0px 40px;
    border-top: 1px solid rgba(57, 57, 57, 0.25);
    bottom: 0;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.footleft li {
    float: left;
}
.footleft a {
    display: block;
    color: #505050;
    text-align: center;
    text-decoration: none;
    padding: 14px 10px;
}
.footleft a:hover {
    text-decoration-line: underline;
}
.footright a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
.footright a:hover {
    text-decoration-line: underline;
}
.footright li {
    float: right;
}
footer ul {
    float: left;
    width: calc(100% / 2 - 40px);
}